.place__link {
  color: white;
  text-decoration-line: underline;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 12px;
  opacity: 1;
  transition: opacity 0.5s;
  align-self: flex-start;
}

.place__link:hover {
  opacity: 0.8;
}